.form {
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  margin: 0 0 0 -10px;

  @include md-block {
    margin: 0 auto;
  }

  &__item {
    background-color: #444444;
    border: none;
    margin-bottom: 2px;
    padding: 5px 15px;
    color: #777777;

    &--message {
      resize: none;
      height: 122px;
    }

    &--name {
      border-radius: 4px 4px 0 0;
    }
  }

  &__btn {
    background-color: #2b9b2b;
    border: none;
    border-radius: 0 0 4px 4px;
    padding: 8px;
    font-size: 14px;
    color: $light;
    cursor: pointer;
  }
}