.title {
  position: relative;
  font-family: $second-font;
  font-weight: 300;
  font-size: 21px;
  text-align: center;
  letter-spacing: 3.1px;
  padding-bottom: 10px;
  margin-bottom: 8px;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 43px;
    height: 2px;
    background-color: $text;
  }

  &--color-two {
    color: #207b20;

    &::after {
      background-color: #207b20;
    }
  }

  &--small {
    font-size: 16px;
    letter-spacing: 2.49px;
    padding-bottom: 5px;
    margin-bottom: 21px;

    &::after {
      width: 30px;
      background-color: #dddddd;
    }
  }

  &--dark {
    color: #101010;

    &::after {
      background-color: #101010;
    }
  }
  
  &__text {
    font-family: $second-font;
    font-weight: 300;
    text-align: center;
    margin: 0 15px 70px 15px;
    font-size: 15px;

    @include xs-block {
      margin-bottom: 40px;
    }

    &--light {
      color: #b7b3b3;
    }

    &--color-two {
      color: #2b9b2b;
      margin-bottom: 50px;
    }
  }
}